body {
  font-family: 'Roboto', sans-serif;

  a {
    text-decoration: none;
  }

  label {
    display: block;
  }

  nav a {
    display: inline-block;
    margin: 1em;
  }

  form div {
    margin: 1em;
    display: inline-block;
  }
  
  input, textarea {
    border-radius: 8px;
    border-color: lightgrey;
  }
  
  input, select {
    height: 30px;
    width: 250px;
  }
}

.welcome-message {
  text-align: center;
}

.header {
  text-align: center;
  padding: 20px;
  border-radius: 8px;
  grid-row: 1;
  grid-column: 2;
}

.container {
  display: grid;
  grid-template-rows: minmax(2, 1fr);
  grid-template-columns: repeat(3, 1fr);
  
}

.row {
  grid-column: 2;
  grid-row: 2;
}

.new-product-form {
  grid-column: 2;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: minmax(2, 1fr);
  background-color: #B0C4DE;
  padding: 50px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

.input-field {
  padding: 10px 20px;
  background: white;
  margin: 10px auto;
  padding: 20px;
  display: block;
  border-radius: 8px;
  font-size: 1.5em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
  align-items: center;
}

::placeholder {
  opacity: 1;
  color: black;
}

.submit-button {
  background-color: #F08080;
  font-size: 16px;
  text-align: center;
  color: white;
  width: 300px;
  height: 75px;
  align-self: center;
  padding: 20px;
  border-radius: 8px;
  margin-top: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
  grid-column: 2;
  text-decoration: none;
}